<div class="admin-main-container">
  <%= render 'layouts/adminleftnav' %>
  <div class="admin-management-right-container">
    <%= render "remote_modal", title: "Edit Designation" do %>
      <%= render "form" %>
    <% end %>
  </div>
</div>