<div class="dashboard-main-container">
  <%= render 'layouts/leftnav'%>
  <div class="attendance-right-container">
    <div class="attendance-right-top-container">
      <div class="attendance-card">
        <h1 class="attendance-heading">Attendance</h1>
      </div>
      <div class="attendance-card">
        <h1 class="attendance-heading">Last week details</h1>
      </div>
    </div>
    <div class="attendance-right-bottom-container">
      <div class="attendance-card">
        <h1 class="attendance-heading">Pie chart</h1>
      </div>
      <div class="attendance-card">
        <h1 class="attendance-heading">some data</h1>
      </div>
    </div>
  </div>
</div>