<div class="admin-main-container">
  <%= render 'layouts/adminleftnav' %>
  <div class="admin-management-right-container">
    <h1 class="admin-management-heading">Edit Role</h1>
    <%= render "remote_modal", title: "Edit Role" do %>
      <%= render "form" %>
    <% end %>
  </div>
</div>