.attendance-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  background-color: white;
  margin-top: 10px;
}
.attendance-right-top-container {
  display: flex;
  justify-content: space-between;
}

.attendance-right-bottom-container {
  display: flex;
  justify-content: space-between;
}

.attendance-heading {
  background-color: #27518b;
  color: white;
  text-align: center;
  font-size: 26px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.attendance-card {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 0 1px 1px #d0d0d0;
  background-color: white;
  width: 50%;
  height: 48vh;
  margin: 6px;
}