<div class="dashboard-main-container">
  <%= render 'layouts/leftnav'%>
  <div class="attendance-right-container">
    <div class="attendance-right-top-container">
      <div class="attendance-card">
        <h1 class="attendance-heading">Attendance</h1>
        <div>
          <% if @set_form_and_button %>
            <%= button_to "logout", edit_attendance_path(@last_attendance), method: :get, class: "btn btn-danger", data: { turbo_frame: "remote_modal" } %>
          <% else %>
            <%= button_to "login", new_attendance_path, method: :get, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
          <% end %>
        </div>
      </div>
      <div class="attendance-card">
        <h1 class="attendance-heading">Last week details</h1>
        <div>
          <%= @last_attendaces %>
        </div>
      </div>
    </div>
    <div class="attendance-right-bottom-container">
      <div class="attendance-card">
        <h1 class="attendance-heading">Pie chart</h1>
      </div>
      <div class="attendance-card">
        <h1 class="attendance-heading">some data</h1>
        <div class="container">
        </div>
      </div>
    </div>
  </div>
</div>