<footer class="bg-light fixed-bottom text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center text-dark p-3">
    © 2020 Copyright:
    <a class="text-dark" target=”_blank”  href="https://zensark.com/">Zensark Technologies</a>
  </div>
  <!-- Copyright -->
</footer>