<div class="left-navbar-container">
  <%= link_to "Dashborad", root_path, class: "navbar-left-buttons"%>
  <%= link_to "Attendance", root_path, class: "navbar-left-buttons"%>
  <%= link_to "Leaves", root_path, class: "navbar-left-buttons"%>
  <%= link_to "Settings", root_path, class: "navbar-left-buttons"%>
</div>