<div class="left-navbar-container">
  <%= link_to "Dashborad", dashboard_path, class: "navbar-left-buttons"%>
  <%= link_to "Attendance", attendances_path, class: "navbar-left-buttons"%>
  <%= link_to "Leaves", leaves_path, class: "navbar-left-buttons"%>
  <%= link_to "Settings", settings_path, class: "navbar-left-buttons"%>
</div>